.head{
    text-align: center;
    border-bottom: 1px solid black;
}

.nav{
    border-bottom: 1px solid black;
}

.nava{
    border-right: 1px solid black;
    padding-right: 10px;
}

.navar{
    border: 1px solid black;
    width: 100%;
    margin: 10px;
    padding-bottom: 10px;
}
.total{
    padding: 20px;
    display: flex;
}

p {
    text-align: justify;
    padding : 2px 10px;
    line-height: 2;

}

.column{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.column_left{
    border: 1px solid black;
    padding: 40px;
    margin: 10px;
    flex: 3;
    display: flex;
    flex-direction: column;
}


.column_left img{
    float: left;
    padding-inline: 20px;
}

.column_right{
    border: 1px solid black;
    padding: 40px;
    margin: 10px;

}

.footer {

    padding: 1px;
    text-align: center;
    color: black;
    font-size: 30px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid black;
}



