<!DOCTYPE html>
<html lang="en" dir='rtl'>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <title>{% block title %}def title{%endblock%}</title>
  <style>
    div {
      border: 1px solid black;
      border-radius: 5px;
    }
  </style>
</head>

<body>
  <div class="container p-3 my-3">
    <a class="container p-3 my-3" href="http://127.0.0.1:8000/blog/post_list/">صفحه اصلی</a>
  </div>

  <div class="container">





    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      {{form.as_p}}

      <input type="submit" value="تایید شد">
    </form>

  </div>
  </div>



</body>

</html>